---
import Header from '@/components/Layout/Header.astro';
import '@/styles/global.css';
import { initI18n } from '@/i18n/initI18n';
import { ClientRouter, fade } from 'astro:transitions';
import { getThemeCookie } from '@/helper/theme';
import Footer from '@/components/Layout/Footer.astro';
import { Font } from 'astro:assets';
const { locale, t } = await initI18n(Astro.params);

const { tCook, initOn, initialTheme } = getThemeCookie(Astro);

const {
  isMenu = 'true',
  isFooter = 'true',
  title = t.title,
  description = t.description,
  class: className,
} = Astro.props;
---

<!doctype html>
<html
  lang={locale}
  x-data
  data-theme={initialTheme}
  :data-theme="$store.darkMode.on ? 'dark' : 'light'"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <slot name="head" />
    <ClientRouter />
    <Font cssVariable="--font-roboto" preload />
  </head>
  <body>
    {isMenu && <Header />}
    <main transition:animate={fade({ duration: '0.4s' })} class={className}>
      <slot />
    </main>
    {isFooter && <Footer />}
  </body>
</html>

<script define:vars={{ initOn, tCook }}>
  window.df =
    tCook === undefined
      ? window.matchMedia('(prefers-color-scheme: dark)').matches
      : initOn;
</script>
<script>
  import persist from '@alpinejs/persist';
  Alpine.plugin(persist);

  window.cStore = {
    getItem(key) {
      const cookies = document.cookie.split(';');
      for (let cookie of cookies) {
        const [rawName, rawValue] = cookie.split('=');
        if (rawName.trim() === key) {
          return decodeURIComponent(rawValue);
        }
      }
      return null;
    },

    setItem(key, value) {
      // создаём дату истечения через год
      const expiresDate = new Date();
      expiresDate.setFullYear(expiresDate.getFullYear() + 1);

      document.cookie = [
        `${key}=${encodeURIComponent(value)}`,
        `expires=${expiresDate.toUTCString()}`,
        'path=/',
      ].join('; ');
    },
  };

  Alpine.store('darkMode', {
    on: Alpine.$persist(window.df).as('darkMode_on').using(window.cStore),
    toggle() {
      this.on = !this.on;
    },
  });
</script>
